.ex-1-square {
    border: 1px solid red;
    height: 100px;
    width: 100px;
    transition: 3s;
}

.ex-1-square:hover {
    background-color: red;
}

.ex-2-square {
    background-color: red;
    height: 100px;
    width: 100px;
    transition: 3s;
}

.ex-2-square:active {
    width: 100%;
}

.ex-3-square {
    background-color: red;
    height: 100px;
    width: 100px;
    transition: .5s;
}

.ex-3-square:hover {
    border-radius: 50%;
}